/*
Theme Name: Mogo Wordpress Theme
Author: Michael Yegypko
Version: 1.1
*/

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 header, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h3, h4, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


ul {
  margin-top: 0;
  margin-bottom: 1rem;
}


ul ul {
  margin-bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type=button],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

h1, h3, h4, h6,
.h1, .h3, .h4, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
   .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
   .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

 .col-xl-4, .col-lg-6, .col-lg-4, .col-md-6, .col-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {

  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {

  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 576px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
 .btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}
.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.btn-link:focus {
  text-decoration: underline;
}
.btn-link:disabled {
  color: #6c757d;
  pointer-events: none;
}

.collapse:not(.show) {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}
@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.my-2 {
  margin-top: 0.5rem !important;
}


.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

@media (min-width: 576px) {

  .mr-sm-2 {
    margin-right: 0.5rem !important;
  }
}
@media (min-width: 992px) {

  
.my-lg-0 {
    margin-top: 0 !important;
  }

  
.my-lg-0 {
    margin-bottom: 0 !important;
  }
}

@media print {
  *,
*::before,
*::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  
img {
    page-break-inside: avoid;
  }

  p,
h3 {
    orphans: 3;
    widows: 3;
  }

  
h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

header {
  z-index: 2;
  position: relative;
}
header .navbar-toggler {
  position: absolute;
  right: 21px;
  top: 36px;
  border-color: rgba(255, 255, 255, 0.445);
}

.menu {
  position: absolute;
  padding-top: 32px;
}
.menu .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.445);
}
.menu__logo {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.menu__content {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.menu__content li {
  padding-left: 45px;
}
.menu__content li a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__content .active a:hover {
  color: #fce38a;
  -webkit-text-decoration: solid underline 3px;
  text-decoration: solid underline 3px;
}

.slider {
  position: relative;
}
.slider__hero {
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__hero__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__hero__inner .inner {
  position: absolute;
  text-align: center;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.slider__hero__inner .inner-intro {
  color: #ffffff;
  font-family: Kaushan Script;
  font-size: 72px;
  font-weight: 400;
  padding-bottom: 20px;
}
.slider__hero__inner .inner h1 p{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 70px;
}
.slider__hero__inner .inner hr {
  width: 60px;
  border-top: 3px solid;
  color: #ffffff;
}
.slider__hero__inner .inner button {
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  background-color: rgba(1, 1, 1, 0);
  color: #ffffff;
  margin-top: 45px;
}
.slider__hero__inner .inner img {
  max-width: 100%;
}
.slider__titles {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.slider__titles__block {
  width: 100%;
}
.slider__titles p {
  color: #ffffff;
  margin-right: 2px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.slider__titles p span {
  font-size: 24px;
  font-weight: 700;
}

.blog__post__cover-picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.blog__post__cover-picture img {
  max-width: 100%;
}
.blog__post__cover-picture .post-date {
  position: absolute;
  background-color: #95e1d3;
  width: 60px;
  height: 70px;
  color: #ffffff;
  -webkit-transform: translate(-160px, 160px);
  -ms-transform: translate(-160px, 160px);
  transform: translate(-160px, 160px);
  text-align: center;
}
.blog__post__cover-picture .post-date span {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog__post__cover-picture .post-date p {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 200;
  color: #ffffff;
  margin: 0;
}
.blog__post__cover-header {
  margin-top: 20px;
}
.blog__post__cover-header a {
  color: #333333;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.blog__post__cover p {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}
.blog__post__cover-contact {
  margin-bottom: 20px;
}
.blog__post__cover-contact a {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  padding-right: 20px;
}
.blog__post__cover-contact a span {
  padding-left: 6px;
}

.service__cover-img img {
  max-width: 100%;
}
.service__cover-card {
  margin-bottom: 10px;
}
.service__cover-card img {
  padding-right: 15px;
}
.service__cover-card .card-body {
  height: 180px;
  overflow-y: auto;
  border: 1px solid #e5e5e5;
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}
.service__cover-card .card-header {
  color: #333333;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 60px;
  padding-left: 1.25rem;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0;
  border: 1px solid #e5e5e5;
}
.service__cover-card .card-header :first-child {
  border-radius: 0;
}
.service__cover-card .card-header[aria-expanded=true]:before, .service__cover-card .card-header[aria-expanded=false]:before {
  display: none;
}
.service__cover-card .card-header[aria-expanded=true]::after, .service__cover-card .card-header[aria-expanded=false]::after {
  content: url(./icons/_UP.svg);
  right: 0;
  left: auto;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 50px;
}
.service__cover-card .card-header[aria-expanded=false]::after {
  content: url(./icons/_DOWN.svg);
}

.team__cover-hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.team__cover-hover img {
  max-width: 100%;
}
.team__cover-hover:hover {
  background-color: #95e1d3;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
  box-shadow: 10px 10px 0px 0px #95e1d3;
}
.team__cover-hover:hover .team__cover-item {
  opacity: 0.1;
}
.team__cover-hover:hover .team__cover-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 8%;
  list-style-type: none;
  position: absolute;
  top: 42%;
}
.team__cover-hover:hover .team__cover-item-social li {
  background-color: #fce38a;
  margin: 0.5px;
  height: 56px;
  width: 56px;
  text-align: center;
  padding-top: 15px;
}
.team__cover-hover:hover .team__cover-item-social li:hover {
  cursor: pointer;
  background-color: #f38181;
}
.team__cover-hover:hover .team__cover-item-social li:hover a img {
  -webkit-filter: brightness(300%);
  filter: brightness(300%);
}
.team__cover .team__cover-item-social {
  display: none;
}
.team__cover h6 {
  text-align: center;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}
.team__cover span {
  text-align: center;
  display: block;
  color: #999999;
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .slider__hero .inner h1 {
    font-size: 130px;
    line-height: 125px;
  }
  .slider .slider__titles {
    max-width: 1140px;
  }

  .blog__post__cover-picture .post-date {
    -webkit-transform: translate(-130px, 115px);
    -ms-transform: translate(-130px, 115px);
    transform: translate(-130px, 115px);
  }
}
@media (min-width: 992px) {
  header .navbar-toggler {
    display: none;
  }
}
@media (max-width: 992px) {
  header .container {
    max-width: 100%;
  }
  header .menu__content {
    background-color: #f38181;
    margin-top: 25px;
    opacity: 0.9;
  }
  header .menu__content li {
    padding-left: 25px;
    padding-right: 25px;
  }
  header .slider__hero {
    height: 800px;
  }
  header .slider__hero .inner h1 p {
    font-size: 110px;
    line-height: 110px;
    padding-bottom: 30px;
  }
  header .slider__hero .inner-intro {
    font-size: 60px;
  }
  header .blog__post__cover-picture .post-date {
    -webkit-transform: translate(-150px, 140px);
    -ms-transform: translate(-150px, 140px);
    transform: translate(-150px, 140px);
  }
}
@media (max-width: 768px) {
  .slider__hero {
    height: 720px;
  }
  .slider__hero .inner {
    top: 40%;
  }
  .slider__hero .inner h1 p {
    font-size: 76px;
    line-height: 90px;
    padding-bottom: 30px;
  }
  .slider__hero .inner-intro {
    font-size: 50px;
  }
  .slider .slider__titles {
    max-width: 720px;
  }

  .blog__post__cover-picture .post-date {
    -webkit-transform: translate(-160px, 155px);
    -ms-transform: translate(-160px, 155px);
    transform: translate(-160px, 155px);
  }
  .blog__post__cover-header {
    text-align: center;
  }
  .blog__post__cover p {
    text-align: center;
  }
  .blog__post__cover-contact {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .slider__hero .inner {
    top: 30%;
  }
  .slider .slider__titles {
    display: none;
  }
}
@media (max-width: 540px) {
  .slider__hero {
    height: 500px;
  }
  .slider__hero .inner h1 p {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 5px;
  }
  .slider__hero .inner-intro {
    font-size: 40px;
    padding-bottom: 5px;
  }
  .slider__hero .inner button {
    margin-top: 20px;
  }
}
@media (max-width: 430px) {
  .slider__hero {
    height: 450px;
  }
  .slider__hero .inner {
    top: 26%;
  }
  .slider__hero .inner h1 p {
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 5px;
  }
  .slider__hero .inner-intro {
    font-size: 30px;
  }
}
.section-name {
  margin-top: 50px;
}
.section-name h3 {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.section-name h4 {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.section-name .hr-name {
  width: 60px;
  border-top: 3px solid;
  color: #f38181;
  margin-top: 40px;
}
.section-name p {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

/* for archive */
.blog__post__cover-picture .post-date-arcive{
  transform: translate(0, 0);
}

/* for blog */
.blog__post .all-posts {
  text-align: center;
}

/* Fot team */
.team .all-posts {
  text-align: center;
}